$background: rgba(159, 170, 223, 0.5);
$yellow: rgba(241, 215, 98, 0.7);
$red: rgba(247, 11, 11, 0.7);
$white: rgb(233, 231, 231);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;

}

header {
  height: 10vh;
  width: 100vw;
  background-color: $yellow;
  line-height: 10vh;
  border-radius: 5px;
  padding-left: 1rem;
}

form {
  width: 50vw;
  max-width: 400px;
  overflow: hidden;
  height: fit-content;
  line-height: 1.5rem;
  margin: 0 auto;

  div {
    width: 100%;
    display: flex;
  }

  input,
  select, 
  button {
    height: 1.5rem;
    width: 100%;
    flex-grow: 1;
    border-radius: 5px;
    background-color: $white;
    margin: .5rem;
  }
  
  label {
    margin: .5rem;
    width: 10rem;
  }
  button {
    width: 10rem;
    font-size: 1rem;
    background-color: $yellow;
    float: right;
  }
}